h1{display:none;}

body {
	font-family: 'Raleway', avneir, arial, sans-serif;
	color: #black;
}
h2{
	font-family: 'Josefin Slab', serif;
	Color: #B3539F;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CDA580;
	position: fixed;
    top: 0;
    width: 100%;
	left: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#CF97D6;
}

#map {  margin: 0 auto; }

.container {
    margin: 10px 4%;
}
.row {
    width: 100%;
    margin-bottom: 20px;
    display: block;
}
.container::after, .row::after {
    clear: both;
    display: table;
    content: "";
}
.col {
    float: left;
    display: block;
}

.col:last-child {
    margin: 0;
}

.col-4 {
    width: 100%;
    margin-right: 0;
}

.col img {
    width: 100%;
}

@media (min-width: 768px) {
    /*
        750 - (236*3) - (21*2)
        236/750 = 31.4666667%
        20/750 = 2.6666667%
    */
    .container {
        width: 750px;
        margin: 15px auto;
    }

    .col-4 {
        width: 31.4666667%;
        margin-right: 2.6666667%;
    }

}

@media (min-width: 992px) {
    /*
        960 - (306*3) - (21*2)
        306/960 = 31.875%
        21/960 = 2.1875%
    */
    .container {
        width: 960px;
        margin: 20px auto 5px;
    }

    .col-4 {
        width: 31.875%;
        margin-right: 2.1875%;
    }

    h1 {
        font-size: 3em;
    }
}

@media (min-width: 1200px) {
    /*
        1000 - (320*3) - (20*2)
        320/1000 = 32%
        20/1000 = 2%
    */
    .container {
        width: 1000px;
        margin: 40px auto 10px;
    }

    .col-4 {
        width: 32%;
        margin-right: 2%;
    }

    h1 {
        font-size: 3.75em;
        font-weight: 200;
    }
}

	